[build]
  command = "npm run build"
  publish = ".next"
  
[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"
  NODE_VERSION = "22.17.1"
  NPM_VERSION = "11.5.1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  external_node_modules = ["sharp"]
  node_bundler = "esbuild"

[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true